{% extends "AcmeChessBundle::layout.html.twig" %}

{% block htmlAttributes 'ng-app="chessApp"' %}

{% block title "table" %}

{% block customJS %}
    <script type="text/javascript">
        var ajaxUrl = "{{ path('chess_homepage') }}";
        var chessGamestate = {{ gamestate | json_encode | raw }};
    </script>
    <script src="{{ asset('bundles/chess/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/chess/app.js') }}"></script>
    <script src="{{ asset('bundles/chess/game.js') }}"></script>
{% endblock %}

{% block content %}
<div ng-controller="chessboard">
    <h1>Chess - table</h1>
    <p>
        Links to this table:
        <a href="{{ path('chess_table', {'tableId': gamestate.tableId, 'player': 'white' }) }}">white</a>,
        <a href="{{ path('chess_table', {'tableId': gamestate.tableId, 'player': 'black' }) }}">black</a>.
        Copy one of them and send to your opponent.
    </p>
    <p>your color: {{ gamestate.color }}</p>
    <table id="chessboard">
        <tr ng-repeat="row in game.state.position | reverse track by $index">
            <td ng-repeat="tile in row track by $index" class="ng-class:game.getFieldClass($index, 7 - $parent.$index)" ng-click="game.onfieldclick($index, 7 - $parent.$index);">
                <span class="tile {% verbatim %}{{ tile }}{% endverbatim %}" ng-if="tile!='_'"></span>
            </td>
        </tr>
    </table>
    <p>current player: <b ng-bind="game.state.currentPlayer"></b></p>
    <p>game status: <b ng-bind="game.state.status"></b></p>
    <!--<p>tie: <b ng-bind="game.state.tieProposal"></b></p>-->
    <p>castlings: white <b ng-bind="game.state.castlings.white"></b>, black <b ng-bind="game.state.castlings.black"></b></p>
    <!--<a href="{{ path('chess_proposeTie', {'tableId': gamestate.tableId, 'player': gamestate.color }) }}">propose a tie</a>-->
    <ol id="chessLog">
        <li ng-repeat="move in game.state.log" ng-bind="move"></li>
    </ol>
</div>
{% endblock %}
