{% extends "AcmeChessBundle::layout.html.twig" %}

{% block title "table" %}

{% block content %}
    <h1>Chess - table</h1>
    <p>tableId: {{ tableId }}</p>
    <p>your color: {{ color }}</p>
    <p>game position:<br><pre>{{ position }}</pre></p>
    <p>game log:<br>{{ log|nl2br }}</p>
    <br>
    <a href="{{ path('chess_startGame', {'tableId': tableId }) }}">start game</a>
{% endblock %}
