{% extends "AcmeChessBundle::layout.html.twig" %}

{% block htmlAttributes 'ng-app="chessApp"' %}

{% block title "table" %}

{% block customJS %}
    <script type="text/javascript">
        var ajaxUrl = "{{ path('chess_homepage') }}";
        var chessGamestate = {{ gamestate | json_encode | raw }};
    </script>
    <script src="{{ asset('bundles/chess/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/chess/angular-sanitize.min.js') }}"></script>
    <script src="{{ asset('bundles/chess/app.js') }}"></script>
    <script src="{{ asset('bundles/chess/game.js') }}"></script>
{% endblock %}

{% block content %}
<div ng-controller="chessboard">
    <h1>Chess - table</h1>
    <p>
        Links to this table:
        <a href="{{ path('chess_table', {'tableId': gamestate.tableId, 'player': 'white' }) }}">white</a>,
        <a href="{{ path('chess_table', {'tableId': gamestate.tableId, 'player': 'black' }) }}">black</a>.
        Copy one of them and send to your opponent.
    </p>
    <p>your color: {{ gamestate.color }}</p>
    <table id="chessboard">
        <tr ng-repeat="row in game.state.position | reverse track by $index">
            <td ng-repeat="tile in row track by $index" class="ng-class:game.getFieldClass($index, 7 - $parent.$index)" ng-click="game.onfieldclick($index, 7 - $parent.$index);">
                <span class="tile {% verbatim %}{{ tile }}{% endverbatim %}" ng-if="tile!='_'"></span>
            </td>
        </tr>
        <tr>
            <td colspan="8" class="statusBar">
                <br />
                <p class="status" ng-bind-html="game.getStatusInfo();"></p>
                <br />
                <p class="tieProposal" ng-if="game.canAcceptTie()">
                    Your opponent proposed a tie.<br />
                    <button ng-click="game.answerTieProposal(true);">accept</button>
                    &nbsp;
                    <button ng-click="game.answerTieProposal(false);">reject</button>
                </p>
                <p class="tieProposal" ng-if="game.canCancelTie()">
                    You proposed a tie.<br />
                    <button ng-click="game.cancelTieProposal();">cancel</button>
                </p>
                <p class="tieProposal" ng-if="game.opponentRejectedTie()">
                    Your tie proposal has been rejected.
                </p>
                <span ng-if="game.canProposeTie()">
                    <button ng-click="game.proposeTie();">propose a tie</button>&nbsp;|&nbsp;
                </span>
                <button ng-if="game.state.status=='in_progress'" ng-click="game.surrender();">surrender</button>
            </td>
        </tr>
    </table>
    <ol id="chessLog" ng-if="game.state.log">
        <li ng-repeat="move in game.state.log" ng-bind="move"></li>
    </ol>
    <div id="advanceDialog" ng-if="game.showAdvanceDialog">
        Advance pawn to:<br />
        <button ng-click="game.advancePawnTo('q');">Queen</button><br />
        <button ng-click="game.advancePawnTo('r');">Rook</button><br />
        <button ng-click="game.advancePawnTo('b');">Bishop</button><br />
        <button ng-click="game.advancePawnTo('k');">Knight</button><br />
        <br />
        <button ng-click="game.closeAdvanceDialog();">cancel</button>
    </div>
</div>
{% endblock %}
