{% extends "AcmeChessBundle::layout.html.twig" %}

{% block htmlAttributes 'ng-app="chessApp"' %}

{% block title "table" %}

{% block customJS %}
    <script type="text/javascript">
        var chessConfig = {
            chessboardTiles : {{ position | json_encode | raw }},
            chessboardLog : {{ log | json_encode | raw }},
            ajaxUrl : "{{ path('chess_homepage') }}",
            tableId : "{{ tableId }}",
            playerColor : "{{ color }}",
            lastMove : {{ lastMove | json_encode | raw }},
            currentPlayer : "{{ currentPlayer }}"
        };
    </script>
    <script src="{{ asset('bundles/chess/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/chess/app.js') }}"></script>
    <script src="{{ asset('bundles/chess/game.js') }}"></script>
{% endblock %}

{% block content %}
<div ng-controller="chessboard">
    <h1>Chess - table</h1>
    <p>
        Links to this table:
        <a href="{{ path('chess_table', {'tableId': tableId, 'color': 'white' }) }}">white</a>,
        <a href="{{ path('chess_table', {'tableId': tableId, 'color': 'black' }) }}">black</a>.
        Copy one of them and send to your opponent.
    </p>
    <p>your color: {{ color }}</p>
    <table id="chessboard">
        <tr ng-repeat="row in game.tiles | reverse track by $index">
            <td ng-repeat="tile in row track by $index" ng-click="game.onfieldclick($index, 7 - $parent.$index);">
                <span class="tile {% verbatim %}{{ tile }}{% endverbatim %}" ng-if="tile!='_'"></span>
            </td>
        </tr>
    </table>
    <p>current player: <b ng-bind="game.currentPlayer"></b></p>
    <ol id="chessLog">
        <li ng-repeat="move in game.log" ng-bind="move"></li>
    </ol>
    <br>
    <a href="{{ path('chess_startGame', {'tableId': tableId }) }}">start game</a>
</div>
{% endblock %}
